/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #003cff;
  --color-skyblue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-light-black: #222222;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 500;
  --weight-semi-bold: 400;
  --weight-regular: 300;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Kanit', sans-serif;
  font-size: 20px;
  cursor: default;
}

h1, h2, h3, h4, h5, h6 {
  /* font-family: 'Black Han Sans', sans-serif; */
}

small {
  font-size: 5px;
}

a{
  text-decoration: none;
}

ul{
  padding-left: 0;
}

li {
  list-style-type: none;
}

button{
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

.dot {
  font-size: 5px;
  margin-right: 5px;
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #F5740F;
  align-items: center;
  color: var(--color-white);
  padding: 25px;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1; /* navbar 항상 위로 ! */
}

#navbar.navbar--dark {
  background-color: var(--color-light-black);
  padding: 18px;
}

#navbar ul {
  margin: 0;
}

.navbar__menu{
  display: flex;
}

.navbar__logo a {
  margin-left: 15px;
  color: var(--color-white);
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__logo:hover {
  transform: rotate(10deg);
}

.navbar__menu__item{
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);

}

.navbar__menu__item.active{
  /* border: 1px solid var(--color-white); */
}

.navbar__menu__item:hover{
  /* border: 2px solid var(--color-white); */
  /* background-color: var(--color-dark-pink); */
  color: white;
  transform: scale(1.2);
}

.navbar__toggle-btn {
  position: absolute;
  top: 20px;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}

/* Home */
#home {
  padding: 40px;
  padding-top: 120px;
  text-align: center;
  background-color: var(--color-white);
}

.home__avatar{
  margin-top: 50px;
  margin-bottom: 50px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.home__title, .home__description{
  color: var(--color-black);
  font-weight: bold;
}

.home__contact {
  color: black;
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  height: 50px;
  width: 150px;
  margin: 24px;

  /* border-radius: 5px;
  border: 1px solid transparent;
  background-image: linear-gradient(#fff, #fff), 
  linear-gradient(to right, red 0%,  orange 100%);
  background-origin: border-box;
  background-clip: content-box, border-box; */


  box-sizing: border-box;
  border: 5px;
  border-style: solid;
  border-image: linear-gradient(to right, red 0%,  orange 100%);
  border-image-slice: 1;
}

.home__contact:hover {
  transform: scale(1.2);
}

/* Section common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* Career */
#career {
  background-color: #F5F5F5;
}

#careerLine {
  margin-top: 100px;
}

#careerLine:after {
  content: '';
  display: block;
  position: relative;
  left: 10%;
  width: 78%;
  height: 2px;
  margin-left: -12px;
  margin-top: 8px;
  background-color: var(--color-dark-white);
}

#careerYear {
  left: 11%;
  position: absolute;
}

.text__thisyear {
  color: #F5740F; 
}

.about__jobs {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

#manTechLogo {
  color: red;
  font-size: 25px;
  font-weight: bold;
}

.job__logo {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.job__description {
  width: 50%;
  text-align: left;
}

.major {
  padding-right: 50px;
}

.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon {
  color: var(--color-light-grey);
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  border: 1px solid var(--color-light-grey);
  border-radius: 50%;
  margin-bottom: 16px;
  margin: auto;
}

.major__icon i {
  transition: all var(--animation-duration) ease;
}

.front__icon:hover {
  color: red;
  border: 1px solid black;
  /* transform: rotate(-15deg) scale(1.1); */
}

.back__icon:hover {
  color: var(--color-blue);
  border: 1px solid black;
  /* transform: rotate(-15deg) scale(1.1); */
}

.etc__icon:hover {
  color: black;
  border: 1px solid black;
  /* transform: rotate(-15deg) scale(1.1); */
}

.major__title {
  margin-top: 15px;
  font-weight: bold;
}

.major__title, .major__description {
  color: var(--color-black);
}

.major__description {
  margin-top: 50px;
}

.major__description .project__info__table {
  font-size: 18px;
}

.major__description .project__info__table th {
  width: 300px;
  text-align: left;
  padding-right: 15px;
}

.major__description .project__info__table td {
  width: 500px;
  text-align: left;
}

/* Skill */

#skills {
  background-color: var(--color-yellow);
}

.skillset {
  display: flex;
  background-color: var(--color-light-grey);
  color: var(--color-white);
  margin: 20px 0;
}

.skillset__title {
  color: var(--color-white);
}

.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  padding: 20px 40px;
}

.skill {
  margin-bottom: 32px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

.skill__value {
  height: 3px;
  /* background-color: var(--color-orange); */
}

.skillset__right {
  flex-basis: 40%;
  
}

.tools {
  background-color: var(--color-grey);
}

.tools, .etc {
  padding: 20px;
}

/* Work */
.work__categories {
  margin: 40px;
}

.category__btn {
  border: 1px solid var(--color-light-black);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
  position: relative;
}

.category__btn.selected, .category__btn:hover {
  background-color: var(--color-light-black);
  color: var(--color-white);
}

.category__btn.selected .category__count,
.category__btn:hover .category__count{
  opacity: 1;
  top: 0;
}

.category__count {
  font-size: 14px;
  background-color: #F5740F;
  border-radius: 50%;
  color: var(--color-white);
  width: 20px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  position: absolute;
  top: -20px;
  right: 16px;
  opacity: 0;
  transition: all var(--animation-duration);
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}

.work__projects.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-light-white);
}

.project.invisible {
  display: none;
}

.project__img {
  width: 90%;
  height: 60%;
  align-self: center;
}

.project__description {
  position: absolute;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration);
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__description h2 {
  color: var(--color-white);
}

/* .project__description h3:after {
  content: '';
  display: block;
  position: relative;
  left: 50%;
  width: 25px;
  height: 2px;
  margin-left: -12px;
  margin-top: 8px;
  background-color: var(--color-dark-white);
} */

.go-sourcecode {
  color: var(--color-blue);
}

.go-sourcecode:hover {
  color: #F5740F;
}

.modal-body .project__info__table {
  border-collapse: separate;
  border-spacing: 0 10px;
  
}

.modal-body .project__info__table tr {
  font-size: 20px;
  border-bottom: 1px solid #909090;
}

/* .modal-body .project__info__table th:after {
  content: '';
  display: block;
  position: relative;
  width: 110px;
  height: 1.5px;
  margin-left: -12px;
  background-color: #F5F5F5;
} */


.modal-body .project__info__table th {
  width: 130px;
  text-align: left;
}

.modal-body .project__info__table td {
  text-align: left;
}

/* Contact */
#contact {
  background-color: var(--color-black);
}

.text__small {
  font-size: 25px;
}

.contact__font {
  color: #F5F5F5;
}

.contact__title, .contact__rights {
  color: var(--color-white);
}

.contact__title {
  margin: 32px 0;
}

.contact__me {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 30px;
}

.contact__me a {
  color: var(--color-blue);
}

.contact__me a:hover {
  color: #F5740F;
}

.copy__btn {
  color: white;
  font-size: 20px;
}

.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
  transition: all var(--animation-duration) ease-in;
}

.contact__links a {
  margin-right: 20px;
}

.contact__git:hover {
  transform: scale(1.1);
  color: var(--color-pink);
}

.contact__blog:hover {
  transform: scale(1.1);
  color: #03C75A;
}

.count__today {
  display: flex;
  justify-content: center;
  color: var(--color-white);
  margin-bottom: 25px;
}



/* Scroll */
.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  font-size: 25px;
  background-color: #F5740F;
  color: var(--color-white);
  border-radius: 50%;
  opacity: 0;
  transition: all 300ms ease-in;
  pointer-events: none;
}

.arrow-up.visible {
  display: block;
  opacity: 1;
  pointer-events: auto;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {

  :root {

  /* Font size */
  --font-large: 30px;
  --font-medium: 18px;
  --font-regular: 16px;
  --font-small: 14px;
  --font-micro: 12px;
  }


  .navbar__toggle-btn {
    display: block;
    top: 16px;
    right: 16px;
    font-size: var(--font-medium);
  }

  .navbar__toggle-btn i {

  }


  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: #F5740F;
  }

  #navbar.navbar--dark {
    padding: 16px;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar__menu.open {
    display: block;
  }

  .section {
    padding: 16px;
    padding-top: 40px;
  }

  .about__majors {
    flex-direction: column; 
    margin-top: 30px;
    margin-bottom: 0px;
  }
  
  .major {
    margin-bottom: 30px;
  }
  
  .category__btn {
    margin: 4px 0;
    width: 100%;
  }

  .skillset {
    flex-direction: column;
  }
  
  .project {
    flex-grow: 1;
  }

  .project.invisible {
    display: none;
  }

  .arrow-up {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    right: 16px;
    bottom: 16px;
  }


}